<!doctype html>
<html lang="en" ng-app=''>
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
</head>
<body>
<form name="myForm">
  <input type="text" name="texty" ng-model="data.texty" required ng-minlength="2" ng-pattern="/^a/">
</form>

<div ng-if="myForm.$submitted" ng-messages="myForm.texty.$error">
  <span class="error" ng-message="required">Field is required!</span>
  <span class="error" ng-message="minlength">Field is too short!!</span>
</div>
    <script src="app.js"></script>
</body>
</html>
